<div class="form-body" *ngIf="formSubmitted == false">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register Today</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" [formGroup]="restaurantForm" (ngSubmit)="onSubmit()" id="restaurantForm">
                        <div class="col-md-12">
                            <input class="form-control" id="userName" type="text" name="userName"
                                placeholder="User Name" required formControlName="userName">
                            <div *ngIf="userName && userName.invalid && (userName.dirty || userName.touched)"
                                class="invalid-feedback">UserName field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="email" placeholder="Email" required
                                formControlName="userEmail">
                            <div *ngIf="userEmail&& userEmail.errors?.['pattern']" class="invalid-feedback">Please
                                provide a valid email addresss</div>
                            <div *ngIf="userEmail && (userEmail.dirty || userEmail.touched)&&userEmail.errors?.['required']"
                                class="invalid-feedback">Emaill cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" type="text" name="storeUrl" placeholder="Store URL" required
                                formControlName="storeUrl"></textarea>
                            <div *ngIf="storeUrl && storeUrl.invalid && (storeUrl.dirty || storeUrl.touched)"
                                class="invalid-feedback">Store Url field cannot be blank!</div>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary register-button"
                                [disabled]="!restaurantForm.valid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class=" profile-holder"  >
    <div class="card" style="width: 30rem;">
        <img src="{{restaurantDetails.logo}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{restaurantDetails.name}}</h5>
          <p class="card-text">{{restaurantDetails.description }}</p> 
        </div>
        <div class="card-footer">
            <h3>Most use words in description</h3>
            <div *ngFor="let item of (restaurants | keyvalue)" >
                <span *ngIf="item&& item.value >= 5"> Repeated Words: <b>"{{item.key}}"</b> && Occurance Count: <b>"{{item.value}}"</b></span>
            </div>
            <a href="#" class="btn btn-primary" (click)="goBack()">Register Restaurant</a>
        </div>
      </div>
</div>