<div class="form-body" *ngIf="formSubmitted == false">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register Today</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" [formGroup]="restaurantForm" (ngSubmit)="onSubmit()" id="restaurantForm">
                        <div class="col-md-12">
                            <input class="form-control" id="userName" type="text" name="userName"
                                placeholder="User Name" required formControlName="userName">
                            <div *ngIf="userName && userName.invalid && (userName.dirty || userName.touched)"
                                class="invalid-feedback">UserName field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="email" placeholder="Email" required
                                formControlName="userEmail">
                            <div *ngIf="userEmail&& userEmail.errors?.['pattern']" class="invalid-feedback">Please
                                provide a valid email addresss</div>
                            <div *ngIf="userEmail && (userEmail.dirty || userEmail.touched)&&userEmail.errors?.['required']"
                                class="invalid-feedback">Emaill cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" type="text" name="storeUrl" placeholder="Store URL" required
                                formControlName="storeUrl"></textarea>
                            <div *ngIf="storeUrl && storeUrl.invalid && (storeUrl.dirty || storeUrl.touched)"
                                class="invalid-feedback">Store Url field cannot be blank!</div>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary register-button"
                                [disabled]="!restaurantForm.valid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-body" *ngIf="formSubmitted">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items" id='description-item'>
                    <h3 class="text-center description-title">Most use words in description</h3>
                  
                    <div class="d-flex m-auto word-count-wraper w-100 flex-wrap" *ngIf="restaurants.length">
                        <p  class="btn bg-info description-box" *ngFor="let item of (restaurants | keyvalue)">
                            {{item.key}} <span class="badge badge-light text-count">{{item.value}}</span>
                        </p>
                    </div>

                    <div class="d-flex m-auto word-count-wraper w-100 flex-wrap" *ngIf="restaurants.length < 0">
                        <p>No matches words are found.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>